pynacl==1.2.1
discord.py
colorlog
cffi --only-binary all; sys_platform == 'win32'
youtube-dl
#-e git+https://github.com/Winding6636/youtube-dl@modified_latest#egg=youtube-dl
beautifulsoup4
requests
# Dockerもといsetup.pyでエラーを吐くためコメントアウト // Dockerfileで個別に入れている
#nndownload
aiohttp_socks #nndownload_req
websockets